<layout name="Layout/layout" />
<div class="main-div">
    <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">菜品名：</td>
                <td>
                    <input  type="text" name="comment_name" value="<{$comment_foods_one.foods_name}>" />
                </td>
            </tr>
            <tr>
                <td class="label">好评度：</td>
                <td>
                    <input type="text" name="star" value="<{$comment_foods_one.star}>"/>
                    
                </td>
            </tr>
            <tr>
                <td class="label">评论：</td>
                <td>
                    <textarea name="content" style="width: 300px;height: 200px;"><{$comment_foods_one.content}></textarea>
                </td>
            </tr>
            
            <tr>
                <td colspan="99" align="center">
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="hidden" name="comment_id" value="<{$comment_foods_one.comment_id}>">
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>