<layout name="Layout/layout_res" />
<!-- 顶部导航 end -->
	
	<div style="clear:both;"></div>

	<!-- 页面头部 start -->
	<div class="header w990 bc mt15">
		<div class="logo w990">
			<h2 class="fl"><a href="__APP__/Home/Index/index.html"><img src="__PUBLIC__/Home/Images/logo.png" title="易达在线订餐"></a></h2>
		</div>
	</div>
	<!-- 页面头部 end -->
	
	<!-- 登录主体部分start -->
	<div class="login w990 bc mt10">
		<div class="login_hd">
			<h2>餐厅用户登录</h2>
			<b></b>
		</div>
		<div class="login_bd">
			<div class="login_form fl">
				<form action="__SELF__" method="post">
					<ul>
						<li>
							<label for="">餐厅名：</label>
							<input type="text" class="txt" name="restaurant_name" value="<{$Think.cookie.restaurant_name}>"/>
						</li>
						<li>
							<label for="">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
							<input type="password" class="txt" name="password" value="<{$Think.cookie.password}>"/>
							
						</li>
						<li class="checkcode">
							<label for="">验证码：</label>
							<input type="text"  name="checkcode" />
							<img src="__CONTROLLER__/chkcode" alt="" onclick="$(this).attr('src','__CONTROLLER__/chkcode/'+Math.random())" style="cursor: pointer;"/>
							<span>看不清？<a href="javascript:void(0)" onclick="$(this).parent().prev().trigger('click');">换一张</a></span>
						</li>
						<li>
							<label for="">&nbsp;</label>
							<input type="checkbox" class="chb"  /> 保存登录信息
						</li>
						<li>
							<label for="">&nbsp;</label>
							<input type="submit" value="" class="login_btn" />
						</li>
					</ul>
				</form>
			</div>
			
			<div class="guide fl">
				<h3>还未拥有自己的餐厅？</h3>
				<p>现在免费开店，便能立刻改变你自己，让你身价百倍，心动不如行动，赶紧申请吧!</p>

				<a href="__MODULE__/Restaurant/register.html" class="reg_btn">免费注册 >></a>
			</div>

		</div>
	</div>
	<!-- 登录主体部分end -->
<script>
	
	$(".chb").click(function(){
		if($(this).attr("checked")){
			var restaurant_name = $("input[name='restaurant_name']").val();
			var password = $("input[name='password']").val();
			$.ajax({
				"type":"GET",
				"url":"__CONTROLLER__/setCookie/restaurant_name/"+restaurant_name+"/password/"+password
			});
		}
	});
</script>