<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv='content-type' content="text/html; charset=utf-8" />
        <link href="__PUBLIC__/Admin/Styles/general.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <table cellspacing='0' cellpadding='0' width="100%" 
               background="__PUBLIC__/Admin/Images/header_bg1.jpg" border='0'>
            <tr height='56px'>
                <td>
                <div>
                <a href="__MODULE__/Index/index.html" target="_top"><img  src="__PUBLIC__/Admin/Images/header_left1.png"/></a>
                </div>
                </td>
                
                <td align="right">
                <a href="__APP__" title="网站首页" target="_blank"><img  src="__PUBLIC__/Admin/Images/home.jpg" /></a>&nbsp;
                <a href="__MODULE__/Manager/managerPwdModify" title="修改密码" target="right"><img  src="__PUBLIC__/Admin/Images/manager.jpg" /></a>&nbsp;
                <a title="退出登录" onclick="if (confirm('确定要退出吗？')) return true; else return false;" 
                                                        href="__MODULE__/Loginer/logout" target='_top'><img src="__PUBLIC__/Admin/Images/out.jpg" /></a>
                </td>
                </tr>
        </table>
        <table cellspacing='0' cellpadding='0' width="100%" border='0'>
            <tr bgcolor='#1c5db6' height='4'>
                <td></td>
            </tr>
        </table>
    </body>
</html>